.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
.span{
    font-family: 'Miama';
    font-style: italic;
    font-weight: 300;
    src: local('Miama'), url('https://fonts.cdnfonts.com/s/302/Miama.woff') format('woff');
}

  .inter-normal{
    background-color: black;
  }
  .header{
      background: linear-gradient(
      180deg,
      rgb(17, 17, 17),
      rgba(119, 119, 119, 0) 100%
      ),
      linear-gradient(360deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
      height: 760px;
    }
    
    /* nav styles */
    nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px 190px;
    }
  nav ul{
    display: flex;
    background-color: #1b1b1b;
    width: 465px;
    margin-right: 40px;
    padding-left: 0;
    border-radius: 39px;
    border: 1px solid #5e5e5e;
  }
  nav ul li{
    list-style: none;
    margin-right: 60px;
    padding: 2px 2px;
  }
  a{
    text-decoration: none;
  }
  .button{
    background-color: #E6533C;
    width: 92px;
    height: 32px;
    border-radius: 46px;
    border: none;
    color: #ffffff;
  }
  .white{
    color: #ffffff;
  }
  .nav-h1{
    color: #E6533C;
    font-weight: 900;
    font-size: 36px;
  }
  .nav-toogle{
    color: #ffffff;
    display: none;
  }
  /* banner styles */
  .banner-content{
    display: flex;
    justify-content: space-between;
    padding: 30px 190px;
  }
  .banner-h1{
    color: #ffffff;
    font-weight: 900;
    font-size: 54px;
  }
  .banner-p{
    color: #b8b8b8;
  }
  .button-1{
    background-color: #E6533C;
    color: #ffffff;
    padding: 16px 40px;
    border-radius: 42px;
    border: none;
  }
  .primary{
    background-color: black;
    color: #ffffff;
    padding: 16px 40px;
    border-radius: 42px;
    border: 1px solid #ffffff;
  }

  /* text card styles */
  .imagecontainer{
    position: relative;
  }
  .textcard{
    background-color: #ffffff34;
    width: 193px;
    height: 98px;
    padding: 20px;
    border-radius: 25px;
  }
  .textcard h2{
    color: #ffffff;
    font-size: 40px;
    line-height: 1;
    margin: 0;
  }
  .textcard p{
    color: #bebebe;
  }
  .align-right{
    position: absolute;
    right: -110px;
    top: 97px;
  }
  .circle-div{
    width: 40px;
    height: 40px;
    background-color: #E6533C;
    border-radius: 50px;
    margin-top: 20px;
  }
  .tutorial-div{
    background-color: #ffffff34;
    width: 193px;
    height: 98px;
    padding: 20px;
    border-radius: 25px;
    display: flex;
    position: absolute;
    left: -150px;
    bottom: 52px;
  }
  div{
    gap: 10px;
  }
  div h2{
    color: #ffffff;
    font-size: 40px;
    line-height: 1;
    margin: 0;
  }
  div p{
    color: #bebebe;
  }

  /* banner-2 styles */
  .banner-2{
    margin-top: 100px;
    background-color: black;
  }
  .banner-h2{
    color: #ffffff;
  }
  .banner-2-p{
    color: #cac9c9;
  }
  .image-title{
    color: #ffffff;
    text-align: center;
  }
  .image-content{
    color: #c0bfbf;
    text-align: center;
  }
  .banner-2-title{
    text-align: center;
  }
  .images-container{
    display: flex;
    padding: 58px 198px;
    gap: 40px;
    justify-content: center;
  }
  .image{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    border: 3px solid #3d3d3d;
  }

  /* banner-3 styles */
  .banner-3-h1{
    color: #ffffff;
    font-weight: 900;
    font-size: 48px;
  }
  .banner-3-p{
    color: #a1a0a0;
  }
  .banner-3{
    background-color: #222222;
    border-radius: 18px;
    max-width: 1440px;
    margin: auto;
    padding: 30px 32px;
    display: flex;
    justify-content: space-between;
    
    margin-top: 100px;
  }
  .banner-imege{
    width: 366px;
    height: 312px;
    border-radius: 18px;
    object-fit: none;
    object-position: 65% 28%;
  }
  .button-2{
    width: 224px;
    height: 54px;
    background-color: #E6533C;
    color: #ffffff;
    border-radius: 42px;
    border: none;
  }

  /* banner-4 styles */
  .banner-4{
    margin-top: 100px;
    background-color: #484848;
    border-top-left-radius: 42px;
    border-bottom-right-radius: 42px;
    max-width: 1440px;
    height: 800px;
    margin: auto;
  }
  .banner-4-h1{
    color: #ffffff;
    font-weight: 800;
    font-size: 40px;
    text-decoration: underline;
  }
  .banner-4-title{
    text-align: center;
    margin-top: 100px;
    padding: 30px 36px;
  }
  .link{
    color: rgb(1, 33, 33);
    font-size: 20px;
    font-weight: 900;
    text-decoration: underline;
  }
  .color{
    color: #8e8e8e;
    text-decoration: underline;
  }

  /* banner-5 styles */
  .banner-5-title{
    margin:4px 600px;
  }
  .banner-collumn{
    background-color: #252424;
    height: 600px;
  }
  .bmi-title{
    color: #ffffff;
    font-size: 28px;
    margin-top: 52px;
  }
  .bmi-title-p{
    color: #7e7d7d;
  }
  .table-2, .tr, .th, .td{
    border: 1px solid #5d5c5c;
    border-collapse: collapse;
    text-align: left;
    padding: 5px 8px;
  }
  .table-2{
    width: 340px;
    height: 250px;
    margin-top: 50px;
  }
  .th{
    color: #ffffff;
    font-size: 16px;
  }
  .td{
    color: #a6a5a5;
  }
  .collumn-title-1{
    display: flex;
    margin: 52px 190px;
    gap: 350px;
  }
  .bmi{
    color: #ffffff;
    font-size: 48px;
    margin-top: 100px;
  }
  .bmi-p{
    color: #adadad;
  }
  .Height, .Weight, .Age, .gender, .activity, .btn{
    width: 282px;
    height: 48px;
    background-color: #434343;
    border-radius: 8px;
    border: none;
    margin: 10px;
    padding: 5px 8px;
  }
  .gender{
    width: 298px;
    height: 56px;
    color: #797979;
  }
  .activity{
    width: 620px;
    height: 56px;
    color: #797979;
  }
  .btn{
    background-color: #E6533C;
    color: #ffffff;
    padding: 16px 40px;
    width: 224px;
    border-radius: 42px;
    border: none;
  }

  /* banner-6 styles */
  .banner-6-title{
    color: #ffffff;
    text-align: center;
    margin-top: 100px;
  }
  .banner-images{
    background-color: #222222;
    max-width: 1000px;
    height: 580px;
    margin: auto;
    border-radius: 8px;
  }
  .img{
    width: 326px;
    height: 272px;
    border-radius: 18px;
  }
  .banner-images{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 20px;
    gap: 10px;
  }
  .banner-images-title{
    position: relative;
  }
  .image-text{
    position: absolute;
    top: 0;
    padding: 5px 5px;
    margin-top: 180px;
  }
  .image-h4{
    color: #ffffff;
  }
  .image-p{
    color: #717070;
  }

  /* last-banner title */
  .last-banner{
    background-color: #222222;
    height: 600px;
    margin-top: 100px;
  }
  table, tr, th, td{
    border: 1px solid #424242;
    border-collapse: collapse;
    text-align: left;
    border: none;
  }
  .collumn{
    display: flex;
    padding: 30px 210px;
    gap: 177px;
  }
  table{
    width: 400px;
    height: 249px;
  }
  .collumn-h1{
    color: #E6533C;
    font-weight: 900;
    font-size: 70px;
  }
  .collumn-p{
    color: #9b9b9b;
  }
  th{
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
  }
  td{
    color: #ffffff;;
  }
  .link-1{
    width: 1059px;
    margin-top: 80px;
    border: 1px solid #363636;
  }
  .end{
    text-align: center;
    color: #989898;
    margin-top: 30px;
  }
  /* end */

  